
<div class="container-fulid">
  <div class="row">
    <div class="col-md-8" style="margin-left: 1.5em;">
      <h3> 最新上架 </h3>
      <hr>
      <div class="row">
        <% @books.each do |book| %>
          <div class="col-md-3 col-sm-6" style="margin-bottom: 1em;">
            <%= link_to book_path(book) do %>
              <% if book.photo.present? %>
                <%= image_tag(book.photo.image.thumb.url, class: "thumbnail img-responsive") %>
                  <div class="caption">
                    <span><%= book.title %></span>
                  </div>
                <%= link_to("加到購物車", add_to_cart_book_path(book), method: :post, class: "btn btn-danger") %>
                <%= link_to("詳細資訊", book_path(book), class: "btn btn-info") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
