<!DOCTYPE html>
<html>
<head>
  <title>Bookcities</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "common/navbar" %>
  <%= notice_message %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 ds-sidebar">
      <%= render "common/sidebar" %>
    </div>
    <div class="col-md-9">
      <%= yield %>
    </div>
  </div>
</div>
  <%= render "common/footer" %>
</body>
</html>
